.tweet {
    border: 1px solid #0e97c4;
    border-radius: 5px;
    margin: 20px 20%;
    padding: 20px;
  }
  
  .username,
  .date {
    color: #7e7d7d;
    display: inline-block;
    margin: 0 10px;
  }